{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3"><span
                    class="bg-secondary pr-3">{% trans 'Змінити пароль' %}</span>
            </h5>
            <div class="bg-light p-30 mb-5">


                {% if validlink %}

                <p>{% trans "Введіть ваш новий пароль двічі для перевірки." %}</p>

                <form method="post">{% csrf_token %}
                    <input autocomplete="username"
                           class="btn btn-block  font-weight-bold py-3"
                           disabled
                           value="{{ form.user.get_username }}">

                    {{ form.as_p}}

                    <button
                            class="btn btn-block btn-primary font-weight-bold py-3">
                        {% trans 'Відправити' %}
                    </button>
                </form>

                {% else %}

                <p>{% translate "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>

                {% endif %}


            </div>
        </div>
    </div>
</div>

{% endblock %}
