{% extends 'base.html' %}}
{% load i18n %}


{% block content %}

<div class="container-fluid">
    <br>
    <br>
    <br>


    <h5 class="section-title position-relative text-uppercase "
        style="text-align: center;"><span
            class="bg-secondary" style="text-align: center;">{% trans 'Такої сторінки немає' %}</span>
    </h5>
    <br>
    <p align="center">
        <iframe allowFullScreen frameBorder="0" height=466.286
                src="https://gifer.com/embed/yH" width=480></iframe>
    </p>
    <br>

</div>

{% endblock %}