{% load news_tags %}
{% load i18n %}

<h1>{% trans 'Категорії'|upper %}</h1>
<div class="list-group">
    <a class="list-group-item list-group-item-action" href="{% url 'news' %}">
        {% trans 'Всі категорії'|upper %}
        <span class="badge badge-primary badge-pill">  {{cnt_news.pk__count}}</span></a>
    {% for c in categories %}
    <a class="list-group-item list-group-item-action"
       href="{{ c.get_absolute_url }}">{{c.title|upper}}
        <span class="badge badge-primary badge-pill">  {{c.cnt | safe}}</span></a>
    {% endfor %}
</div>

