{% extends 'base.html' %}}
{% load static %}
{% load i18n %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h5> {% blocktrans %}
                MultiShop є польським брендом, який належить
                компанії LPP S.A., найбільшому польському виробнику одягу в
                Центральній та Східній Європі.
                У наших колекціях ми намагаємось якнайшвидше задовольняти
                потреби наших клієнтів,
                саме тому ми поєднуємо класичний стиль з оригінальними
                деталями,
                натхненними подіумною модою, а також альтернативними
                пропозиціями від інфлюенсерів.{% endblocktrans %}</h5>

        </div>

    </div>

</div>

{% endblock %}