{% extends 'base.html' %}}
{% load static %}
{% load i18n %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h5> {% blocktrans %}
                MultiShop is a Polish brand owned by of LPP S.A., the largest Polish
                clothing manufacturer in Central and Eastern Europe.
                In our collections, we try to satisfy as soon as possible
                the needs of our customers,that's why we combine classic style with original ones
                details, catwalk-inspired as well as alternative offers from
                influencers.{% endblocktrans %}</h5>

        </div>

    </div>

</div>

{% endblock %}