{% extends 'base.html' %}}
{% load static %}
{% load i18n %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="self-service-question">
                <div class="nav" data-static="self-service-popular-question">
                    <nav class="nav-links" id="selfServiceNav"></nav>

                    <h1>{% trans 'Вартість та час доставки' %}</h1>
                </div>
                <div>
                    <!--<p><strong>Важливо! Під час розпродажу і спеціальних акцій ми отримуємо велику кількість замовлень, через що термін доставки може бути збільшений.</strong></p>-->
                    <p><strong>{% trans 'Звертаємо Вашу увагу! Орієнтовні терміни доставки замовлення складають 6-9 робочих днів. Приносимо вибачення за незручності.' %}</strong></p>
                    <p style="text-align: justify;">{% trans 'ТЕРМІН І ВАРТІСТЬ ДОСТАВКИ' %}</p>
                    <!--<p style="text-align: justify;"><strong><span style="font-size: 13px; color: #000000; text-decoration: none; font-family: 'Arial'; font-style: normal;">Безкоштовна доставка</span></strong></p>-->
                    <p style="text-align: justify;">{% trans 'Отримання в пункті відбору (Meest, Нова Пошта) - 110 UAH' %}
                        <!--безкоштовно--></p>
                    <p style="text-align: justify;">{% trans "Кур'єр (Meest) - 110 UAH" %}</p>
                    <p style="text-align: justify;">{% trans 'Безкоштовна доставка для замовлення від 950 UAH' %}</p>
                    <!--<p style="text-align: justify;">Замовлення на суму від 950 UAH доставляються безкоштовно.</p>-->
                    <p><strong>{% trans "Регіони до яких можлива доставка КУР'ЄРОМ:" %}</strong></p>
                    <table border="1" cellpadding="0" cellspacing="0"
                           style="width: 100%;">
                        <tbody>
                        <tr style="border: 1px;">
                            <td align="center"
                                style="border: 1px solid #d1d1d1; border-left: 1;" valign="middle">
                                <p>{% trans 'Вінницька' %}</p>
                            </td>
                            <td align="center"
                                style="border: 1px solid #d1d1d1; border-left: 1;" valign="middle">
                                <p>{% trans 'Івано-Франківська' %}</p>
                            </td>
                        </tr>
                        <tr style="border: 1px;">
                            <td align="center"
                                style="border: 1px solid #d1d1d1; border-left: 1;" valign="middle">
                                <p>{% trans 'Львівська' %}</p>
                            </td>
                            <td align="center"
                                style="border: 1px solid #d1d1d1; border-left: 1;" valign="middle">
                                <p>{% trans 'Тернопільська' %}</p>
                            </td>
                        </tr>
                        <tr style="border: 1px;">
                            <td align="center"
                                style="border: 1px solid #d1d1d1; border-left: 1;" valign="middle">
                                <p>{% trans 'Волинська' %}</p>
                            </td>
                            <td align="center"
                                style="border: 1px solid #d1d1d1; border-left: 1;" valign="middle">
                                <p>{% trans 'Полтавська' %}</p>
                            </td>
                        </tr>
                        <tr style="border: 1px;">
                            <td align="center"
                                style="border: 1px solid #d1d1d1; border-left: 1;" valign="middle">
                                <p>{% trans 'Черкаська' %}</p>
                            </td>
                            <td align="center"
                                style="border: 1px solid #d1d1d1; border-left: 1;" valign="middle">
                                <p>{% trans 'Житомирська' %}</p>
                            </td>
                        </tr>
                        <tr style="border: 1px;">
                            <td align="center"
                                style="border: 1px solid #d1d1d1; border-left: 1;" valign="middle">
                                <p>{% trans 'Київська' %}</p>
                            </td>
                            <td align="center"
                                style="border: 1px solid #d1d1d1; border-left: 1;" valign="middle">
                                <p>{% trans 'Київ' %}</p>
                            </td>
                        </tr>
                        <tr style="border: 1px;">
                            <td align="center"
                                style="border: 1px solid #d1d1d1; border-left: 1;" valign="middle">
                                <p>{% trans 'Одеська' %}</p>
                            </td>
                            <td align="center"
                                style="border: 1px solid #d1d1d1; border-left: 1;" valign="middle">
                                <p>{% trans 'Хмельницька' %}</p>
                            </td>
                        </tr>
                        <tr style="border: 1px;">
                            <td align="center"
                                style="border: 1px solid #d1d1d1; border-left: 1;" valign="middle">
                                <p>{% trans 'Закарпатська' %}</p>
                            </td>
                            <td align="center"
                                style="border: 1px solid #d1d1d1; border-left: 1;" valign="middle">
                                <p>{% trans 'Кіровоградська' %}</p>
                            </td>
                        </tr>
                        <tr style="border: 1px;">
                            <td align="center"
                                style="border: 1px solid #d1d1d1; border-left: 1;" valign="middle">
                                <p>{% trans 'Рівненська' %}</p>
                            </td>
                            <td align="center"
                                style="border: 1px solid #d1d1d1; border-left: 1;" valign="middle">
                                <p>{% trans 'Чернівецька' %}</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p><br>
                        {% trans "Терміни доставки залежать від Вашого регіону:" %}</p>
                    <p style="text-align: justify;">{% trans 'Термін' %} <br>
                        {% trans '(роб. днів) Населений пункт' %}</p>
                    <ul style="text-align: justify;"></ul>
                    <ul style="text-align: justify;"></ul>
                    <ul style="text-align: justify;">
                        <li>{% blocktrans %}4 - 8 днiв: Вінниця, Волинь,
                            Дніпро, Житомир, Закарпаття, Запоріжжя,
                            Івано-Франківськ, Київ, Ковель, Коломия, Кременчук,
                            Львів, Миколаїв, Нововолинськ, Одеса, Полтава,
                            Рівне, Суми, Тернопіль, Харків, Херсон,
                            Хмельницький, Черкаси, Чернівці, Чернігів
                            {% endblocktrans %}
                        </li>
                        <li>{% blocktrans %}6 - 10 днiв: Броди,
                            Володимир-Волинський, Дрогобич, Камянське, Кривий
                            Ріг, Кропивницький, Лубни, Мелітополь, Нікополь,
                            Павлоград, Стрий, Червоноград{% endblocktrans %}
                        </li>
                        <li>{% blocktrans %}8 - 11 днiв: Донецьк**,
                            Луганськ**{% endblocktrans %}
                        </li>
                    </ul>
                    <p style="text-align: justify;">{% trans 'Інші населені пункти: Вiд 7 до 11 днiв' %}</p>
                    <p style="text-align: justify;">{% blocktrans %} **Доставка
                        тільки в населені пункти, контролювані Українським
                        урядом / адміністрацією України.{% endblocktrans %}</p>
                    <p style="text-align: justify;">{% blocktrans %} На жаль,
                        доставка в роздрібні магазини недоступна. Приносимо
                        вибачення за незручності.{% endblocktrans %}</p>
                    <p style="text-align: justify;">{% blocktrans %} Можливість
                        примірки не передбачена. Частковий викуп речей із
                        замовлення неможливий.{% endblocktrans %}</p>
                    <p style="text-align: justify;">{% blocktrans %} Якщо
                        замовлення не вдається вручити за вказаною адресою з
                        першого разу, кур’єр спробує зробити це ще раз. Якщо
                        посилку не буде вручено з другої спроби, вона
                        повертається до інтернет-магазину.{% endblocktrans %}</p>
                    <p style="text-align: justify;"><span
                            style="font-size: medium;"><strong>{% trans 'Важливо!' %}</strong> </span>
                        {% blocktrans %}У період збільшеної кількості замовлень
                        (періоди розпродажу, рекламні кампанії) час доставки
                        може бути збільшений. Актуальний час, вартість та
                        доступні форми доставки видніються при замовленні.
                        {% endblocktrans %}</p>
                    <p style="text-align: justify;">&nbsp;</p></div>
                <div class="footer-section" data-page="Вартість та час доставки"
                     id="footerSection">
                    <h3 class="title">{% trans 'Чи допомогла тобі ця відповідь?' %}</h3>
                    <div class="rate" id="rating">
                        <div class="like rate-icon" data-type="like"
                             id="likeIcon"></div>
                        <div class="dislike rate-icon" data-type="dislike"
                             id="dislikeIcon"></div>
                    </div>
                    <h3 class="title">{% trans 'Не знайшов відповіді на запитання?' %}</h3>
                    <p>{% trans 'Оплата за підключення згідно з тарифами оператора' %}</p>
                    <div class="tiles">
                        <a class="tile hover"
                           data-tile="email"
                           href="https://www.multishop.com/ua/uk/contacts/">
                            <div class="icon email"></div>
                            <a href="{% url 'contact' %}"><h4 class="subtitle">
                                {% trans 'Напиши до нас' %}</h4></a>
                        </a>
                        <div class="tile prevent-toggle-desktop"
                             data-tile="phone">
                            <div class="icon phones"></div>
                            <h4 class="subtitle">{% trans 'Зателефонуй' %}</h4>
                            <div class="hover">
                                <a class="" href="tel:+38 063 195 90 83">
                                    <h5 class="title">{% trans 'Гарача лінія' %}</h5>
                                    <div class="phone">+38 063 195 90 83</div>
                                    <div class="details">
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}