{% extends 'base.html' %}}
{% load static %}
{% load i18n %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>{% trans 'УМОВИ ВИКОРИСТАННЯ ІНТЕРНЕТ-МАГАЗИНУ' %}</h1>
            <p>{% blocktrans %} Правила та умови використання сайту визначають
                правила користування веб-сайтом інтернет-магазину.
                Користуючись веб-сайтом Інтернет-магазину, Ви приймаєте і
                погоджуєтесь з обставинами, які передбачені
                цими Правилами та умовами використання.{% endblocktrans %}</p>

            <ul style="list-style-type: none;">
                <li><span style="text-decoration: underline;">1. {% trans 'Терміни та визначення:' %}</span>
                    <ul style="list-style-type: none;">
                        <li>1.1. <strong>
                            {% trans 'Договір, укладений на відстані' %}</strong>
                            – {% blocktrans %} договір,
                            укладений Продавцем із
                            Покупцем (клієнтом) за допомогою засобів
                            дистанційного зв'язку.{% endblocktrans %}
                        </li>
                        <li>1.2. <strong>{% trans 'Інтернет–магазин' %}</strong> – {% blocktrans %} онлайн-магазин, який
                            розміщується на сайті, який
                            належить Продавцю та має адресу в мережі Інтернет
                            {% endblocktrans %} <span><a href="https://www.multishop.pp.ua/"
                                                      title="www.multishop.pp.ua"><span>www.multishop.pp.ua</span></a></span>,
                            {% blocktrans %} на якому представлені Товари, що
                            пропонуються для продажу, умови оплати, доставки,
                            повернення цих Товарів.{% endblocktrans %}
                        </li>
                        <li>1.3. <strong>{% trans 'Замовлення' %}</strong> –
                            {% blocktrans %}
                            належним чином оформлене та розміщене волевиявлення
                            Покупця (клієнта), яке спрямоване на укладення
                            договору роздрібної купівлі-продажу Товарів,
                            які пропонуються Продавцем для роздрібного продажу
                            через інтернет-магазин.{% endblocktrans %}
                        </li>
                        <li>1.4. <strong>{% trans 'Покупець (клієнт)' %}</strong>
                            – {% blocktrans %} фізична особа, яка
                            придбаває, замовляє,
                            використовує або має намір придбати чи замовити
                            продукцію для особистих потреб,
                            безпосередньо не пов'язаних з підприємницькою
                            діяльністю. Така фізична особа повинна
                            володіти необхідним обсягом дієздатності та
                            необхідними повноваженнями для укладення
                            договорів на придбання, замовлення Товарів.
                            {% endblocktrans %}
                        </li>
                        <li>1.5. <strong>{% trans 'Продавець' %}</strong> –
                            {% blocktrans %} суб'єкт господарювання, який згідно з
                            договором реалізує
                            споживачеві Товари або пропонує їх до реалізації.
                            {% endblocktrans %}
                        </li>
                        <li>1.6. <strong>{% trans 'Сайт' %}</strong> –
                            {% blocktrans %} веб-сайт, що розміщений в мережі
                            інтернет за адресою:
                            www.multishop.pp.ua.{% endblocktrans %}
                        </li>
                        <li>1.7. <strong>{% trans 'Товари (продукція)' %}
                        </strong> – {% blocktrans %} одяг, взуття,
                            аксесуари та інші групи Товарів в
                            асортименті, який представлений в
                            Інтернет-магазині, дистанційний продаж яких не
                            заборонений
                            в Інтернет-магазині. Продавець дає можливість
                            Покупцю переглядати зображення (фотознімки)
                            Товару, який супроводжується інформацією про
                            основні характеристики продукції (найменування,
                            країна походження, умови використання тощо) та ціну
                            продукції (Товарів){% endblocktrans %}
                        </li>
                        <li>1.8. <strong>{% trans 'Служба доставки' %}</strong>
                            – {% blocktrans %} треті особи, які надають послуги
                            по доставці{% endblocktrans %}
                            {% trans 'Замовлень Покупцеві.' %}
                        </li>

                    </ul>
                </li>
            </ul>
        </div>

    </div>

</div>
{% endblock %}