{% extends 'base.html' %}}
{% load static %}
{% load i18n %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>{% trans 'TERMS OF USE OF THE INTERNET STORE' %}</h1>
            <p>{% blocktrans %}The rules and conditions of use of the site determine
                rules for using the website of the online store.
                By using the website of the online store, you accept, and
                you agree with the circumstances provided for
                these Terms and Conditions of Use.{% endblocktrans %}</p>

            <ul style="list-style-type: none;">
                <li><span style="text-decoration: underline;">1.{% trans 'Terms and definitions' %}
                    :</span>
                    <ul style="list-style-type: none;">
                        <li>1.1. <strong>
                            {% trans 'A contract concluded at a distance' %}</strong>
                            – {% blocktrans %}contract,
                            concluded by the Seller from
                            By the buyer (client) using means
                            remote communication.{% endblocktrans %}
                        </li>
                        <li>1.2. <strong>{% trans 'Internet-shop' %}</strong> – {% blocktrans %}
                            online store which
                            is placed on the site which
                            belongs to the Seller and has an address on the Internet
                            {% endblocktrans %}
                            <span><a href="https://www.multishop.pp.ua/"
                                     title="www.multishop.pp.ua"><span>www.multishop.pp.ua</span>
                            </a></span>,
                            {% blocktrans %}on which the Goods are presented, which
                            offered for sale, terms of payment, delivery,
                            return of these Goods.{% endblocktrans %}
                        </li>
                        <li>1.3. <strong>{% trans 'Order' %}</strong> –
                            {% blocktrans %} properly designed and placed expression of will
                            The buyer (client), which is aimed at concluding
                            the contract of retail sale of Goods,
                            which are offered by the Seller for retail sale
                            through the online store.{% endblocktrans %}
                        </li>
                        <li>1.4. <strong>{% trans 'Buyer (client)' %}</strong>
                            – {% blocktrans %} an individual who
                            buys, orders,
                            uses or intends to purchase or order
                            products for personal needs,
                            not directly related to business
                            activity Such an individual must
                            possess the required amount of legal capacity and
                            the necessary powers to conclude
                            contracts for purchase, order of Goods.
                            {% endblocktrans %}
                        </li>
                        <li>1.5. <strong>{% trans 'Seller' %}</strong> –
                            {% blocktrans %} business entity, which according to
                            implements the contract
                            goods to the consumer or offers them for sale.
                            {% endblocktrans %}
                        </li>
                        <li>1.6. <strong>{% trans 'Site' %}</strong> –
                            {% blocktrans %} website hosted on the net
                            internet at:
                            www.multishop.pp.ua.{% endblocktrans %}
                        </li>
                        <li>1.7. <strong>{% trans 'Goods (products)' %}
                        </strong> – {% blocktrans %} clothes, shoes,
                            accessories and other groups of Goods in
                            assortment, which is presented in
                            An online store that does not sell remotely
                            prohibited
                            in the online store. The seller gives an opportunity
                            Buyer to view images (photos)
                            The product, which is accompanied by information about
                            main product characteristics (name,
                            country of origin, conditions of use, etc.) and price
                            products (Goods){% endblocktrans %}
                        </li>
                        <li>1.8. <strong>{% trans 'Delivery service' %}</strong>
                            – {% blocktrans %} third parties providing services
                            upon delivery{% endblocktrans %}
                            {% trans 'Orders to the buyer' %}.
                        </li>

                    </ul>
                </li>
            </ul>
        </div>

    </div>

</div>
{% endblock %}